body{
    padding:0;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
    
}
nav{
    background-color:black;
    height:80px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    max-width:132px;
    max-height:44.98px;
}

.side-menu a ,span{
   
    color:white;
    text-decoration: none;
    padding: 1em; 
    font-weight:bold;

}
.side-menu a:hover{
    color:#1ed760;
}

main{
    height:968px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 65, 171);
}
.line{
    
    display:block;
    position: relative;
    left: 225px;
  
}
.first-line, .second-line{
    font-size: 146px;
    font-weight: 900;
    
}
.first-line{
    position:relative;
    left: -2.5em;
    
}
.second-line{
    padding-bottom: 40px;
}
.small-one{
    text-align: center;

    padding-bottom: 40px;
}
.free-button{
    text-align: center;
}
footer{
    background-color: black;
    height:530px;
}