body{
    padding:0;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    
}
nav{
    background-color:black;
    height:80px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    max-width:132px;
    max-height:44.98px;
    width:133px;
    height:43px"
}

.side-menu a ,span{
   
    color:white;
    text-decoration: none;
    padding: 1em; 
    

}
.side-menu a:hover{
    color:#1ed760;
}

main{
    background-image:url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size:175%;
    background-position: 46% 4%;
    height:968px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 65, 171);
}
.line{
    
    color:#1ed760;
    display:block;
    position: relative;
    left: 225px;
  
}
.first-line, .second-line{
    font-size: 146px;
    font-weight: 900;
    
}
.first-line{
    position:relative;
    left: -2.5em;
    
}
.second-line{
    padding-bottom: 40px;
}
.small-one{
    text-align: center;
    color:#1ed760;
    font-size: 18px;
    padding-bottom: 40px;
}
.free-button{
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: none;
}
.button-area{
    text-align: center;
}
footer{
    display:flex;
    justify-content: center;
    background-color: black;
    height:530px;
    color:white;
    font-weight: 900px;
}
.footer-upper{
    height: 346px;
    display:flex;
    justify-content: space-between;
    
    
}
.site div{
    margin:20px 0px 20px 0px;
    color:#919496;
    
}
.site a{
    
    color:white;
    text-decoration: none;
    padding:3px 0px 15px 0px;
    
}
.site a:hover{
    color:#1ed760;
}

.site{
    display:flex;
    flex-direction:column;
    text-align:left;
}
.column{
    padding: 0px 15px;
   
    
}
.sitemaps{
    display:flex;
    justify-content: space-between;
    
    width: 60%;
}
.icon{
    width: 40%;
    display:flex;
    justify-content:flex-end;
    color:white;
    font-size: 24px;
}
.icon :hover{
    color:#1ed760
}
.icon-box{
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display:flex;
    align-items:center;
    justify-content: center
}
.footer-container{
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}
.info{
    color: #919496;
    
}
.info-container{
    margin-top:12px;
    display:flex;
    justify-content: space-between;
    
    align-items: center;
}
.info a {
    margin-right:1.5em;
    text-decoration: none;
    color: #919496;
}
.country{
    font-size: 11px;
    color: #919496;
    text-align:right;
}
.footer-lower{
    display:flex;
    flex:end;
}